# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# PyInstaller
build/
dist/

# Installer Output
Installer/

# VS Code
.vscode/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# Python cache
.pytest_cache/

# Environment
.env